<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Welcome to the photoshare.com, sign up today to explore thousands of photos as your preference!</h2>

<ul>
<li><a href='/register'>Make an Account</a>
<li><a href='/login'>Login</a></li>
<li><a href='/guest'>Just look around?</a></li>
</ul>

