<!-- author muzi li (marlonli@bu.edu) -->
<!doctype html>


{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
{% if common %}
	Hot in trend:
	{% for word in common %}
  		<form method="post" action="/tag_search">
  		<input type="submit" name="common_tag" value="{{word[0]}}"></form>
	{% endfor %}
{% endif %}

<ul>
	<form method="post" action="/tag_search">
		<label for="search">Looking for other tags?</label><br>
		<input type="search" name="tag_search"><br>
	    <input type="submit" value="Search" />
	</form>
</ul>

<a href='/'>Go home</a>