<!-- author ben lawson (balawson@bu.edu) -->
<head>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
    <title>Photo Upload</title>

{% if albums %}
<h3>Your album list:</h3>
<ul>
    {% for album in albums %}
    <li><form method="post" action="/albums">
      <input type="submit" name="album_search" value="{{album[0]}}"> created: {{album[2]}}
    </li>
    {% endfor %}
{% endif %}


</head>
    <body>
        <div class="title">
            <h1>Share Photo with your fans and families</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="caption">Please add tags (ex:Red Sox):</label>
                <input type="text" name="tags"/><br />
                <label for="caption">Add to album:</label>
                <input type="text" name="album_title" required='true'/><br />
                <input type="submit" value="Upload" />
            </form>
            <br>

            <li>
                <h4>Don't know how to tag your photo? Try just type in something already in your mind</h4>
                    <form method="post" action="/recommend_tags">
                        <input type="text" name="recommend_tags"><br>
                        <br><input type="submit" value="I'm feeling lucky" />
                    </form>
            </li>

            {% if tags %}
                Tags recommended for you:
                <ul>{% for tag in tags %}
                <li>{{tag[0]}}</li>
                {% endfor %}</ul>
            {% endif %}

    </body>
